@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body{
    background-color: hsl(229, 57%, 11%);
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: -5px 290px;
}

.section1{
    width: 300px;
    height: 170px;
    background-color: hsl(228, 56%, 26%);
    border-top-right-radius: 40%;
}

.in_section1{
    padding: 32px;
}

.inner_box{
    width: 38px;
    height: 40px;
    background-color:hsl(229, 57%, 11%);
    border-radius: 8px;
}

.in_doc{
   padding: 8px;
    
}
.inner_box_display{
    padding-top: 25px;
    display: flex;
    gap: 1rem;
}

.section2{
    width: 500px;
    height: 130px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    margin-top: 40px;
    padding-left: 30px;
}

.p_info{
    color: hsl(229, 7%, 55%);
    font-family: 'Raleway', sans-serif;
}
span{
    color: hsl(243, 100%, 93%);
    font-weight: bold;
}

.gb_usage_display{
    margin-top: 20px;
    border: 2px solid hsl(228, 55%, 16%);
    background-color:hsl(228, 55%, 16%) ;
    border-radius: 10px;
    width: 400px;
    height: 15px;
}

.inner_usage_display_gradient{
    padding-top: 1px;
    border: 3px solid none;
    background-image: linear-gradient(to right, #ffa399 , #ff4d97);
    border-radius: 10px;
    width: 290px;
    height: 15px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: hsl(243, 100%, 93%);
    border-radius: 50%;
    display: inline-block;
  }

.dot_placement{
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5px;
}

.data_range{
    color: hsl(243, 100%, 93%);
    display: flex;
    gap: 20rem;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
}

.in_section2{
    padding: 20px;
}

.general_display{
    display: flex;
    gap: 1rem;
}

.gb_box{
    width: 130px;
    height: 50px;
    background-color: white;
    margin-top: -75px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 17px solid transparent;
	border-right: 0px solid transparent;
	border-top: 15px solid white;
    margin-left: 113px;
}

.gb_box_container{
    margin-left: 64%;
}

.container{
    margin: 15%;
    align-content: center;
}

.num{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight:bolder;
}

.gb_left{
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: hsl(229, 7%, 55%);
    text-align: center;
    padding-top: 11px;
}

.num_gb_left_display{
    display: flex;
    gap: 0.5rem;
}

.in_num_gb_left{
    padding: 12px;
}

footer{
    color: white;
    font-size: small;
    text-align: end;
}

a{
    text-decoration: none;
    color: blueviolet;
}

@media screen and (max-width:414px){

    body{
        background-color: hsl(229, 57%, 11%);
        background-image: url(./images/bg-mobile.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 100% 150%;
      
    }
    
    .general_display{
        display: flex;
        flex-direction: column;
        gap: 0rem;

    }

    .section1{
        width: 250px;
    }
    .section2{
        width: 250px;
        height: 150px;
        padding-left: 15px;
        margin-top: 20px;
    }

    .gb_usage_display{
        width: 200px;
    }
    
    .inner_usage_display_gradient{
        padding-top: 1px;
        border: 3px solid none;
        background-image: linear-gradient(to right, #ffa399 , #ff4d97);
        border-radius: 10px;
        width: 120px;
        height: 15px;
    }

    .in_section2{
        padding: 13px;
    }
    
    .data_range{
        color: hsl(243, 100%, 93%);
        display: flex;
        gap: 7rem;
        font-size: 13px;
        font-family: 'Raleway', sans-serif;
        padding-top: 10px;
    }
  
    .gb_box{
        display: none;
    }
    .triangle-down {
      display: none;
    }
    
    footer{
        display: none;
    }
}